In [1]:
# let's try a variable
age = 32
age

32

In [2]:
name = "John"
name

'John'

In [3]:
raining = False
raining

False

In [4]:
tax = 1.24
tax

1.24

In [5]:
price = 1799 * tax
price

2230.7599999999998

In [6]:
apples = 66
people = 7

# one / => division with decimals
# two // = division without decimals
apples_per_people = apples // people
apples_per_people

9

In [7]:
# how many apples were left over
leftover = apples % people
leftover

3

In [8]:
# += is a shorthand for adding, also works with multiplication and substracting
salary = 2500
salary += 300
salary

2800

In [9]:
# variables in a string => f-string
year = 2023
text = f"Current year is {year}, previous year was {year - 1}"
text

'Current year is 2023, previous year was 2022'

In [10]:
number = -15

if number > 30:
    print("Big number!")
elif number == 0:
    print("Zero!")
else:
    print("Something else.")

Something else.

In [12]:
text = "helloooooo there!"

if "hello" in text:
    # print(f"{text} : hello detected!")
    print(text + ": hello detected!")
else:
    print("Nevermind...")

helloooooo there!: hello detected!

In [13]:
# a list of numbers, temperatures
temperatures = [-4, 0, -3, -1, 5, 7, 4, 2, -8]
temperatures

[-4, 0, -3, -1, 5, 7, 4, 2, -8]

In [14]:
temperatures[2]

-3

In [15]:
# a list of numbers, temperatures
temperatures = [-4, 0, -3, -1, 5, 7, 4, 2, -8]

# temperatures[1:4]
# temperatures[1:]
temperatures[:5]

[-4, 0, -3, -1, 5]

In [16]:
# a dictionary usually contains some real world object and its details, like a product
product = {
    "name": "Washing machine",
    "price": 399,
    "rating": 5,
    "brand": "Swoosh-Soowsh Ltd"
}

product['name']

'Washing machine'

In [17]:
# loops, for loop, numeric
for x in range(2000, 2024):
    print(x)

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

In [18]:
numbers = [3,6,7,5,9,2]

# looping through a collection (list)
for n in numbers:
    print(n)

3
6
7
5
9
2

In [19]:
# this is usually the most complex code structure
# you need in data analytics
for x in range(50):
    if x % 5 == 0:
        print(x)
        print("Number is divisible by 5!")

0
Number is divisible by 5!
5
Number is divisible by 5!
10
Number is divisible by 5!
15
Number is divisible by 5!
20
Number is divisible by 5!
25
Number is divisible by 5!
30
Number is divisible by 5!
35
Number is divisible by 5!
40
Number is divisible by 5!
45
Number is divisible by 5!

In [20]:
# most real-life data are in lists of dictionaries
products = [
    {"name": "Coffee machine", "price": 99},
    {"name": "Dishwasher", "price": 299},
    {"name": "Freezer", "price": 199}
]

# looping through a list of dictionaries
for p in products:
    print(p['name'])

Coffee machine
Dishwasher
Freezer

In [21]:
# if you need to build data with loops/lists, 
# this is common in Python
values = []

for x in range(10):
    values.append(x)
    
values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
# define our own functions
# these are often needed with the pandas-module
def triple_value(number):
    result = number * 3
    return result

In [23]:
triple_value(15)

45